<a href="https://colab.research.google.com/github/jtneumann/MLwork/blob/master/fastai/ml1/Bulldozer_3_21_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
!pip install -q fastai==0.7.0

    100% |████████████████████████████████| 122kB 4.4MB/s
    100% |████████████████████████████████| 496.4MB 29kB/s
    100% |████████████████████████████████| 1.5MB 8.4MB/s
    100% |████████████████████████████████| 3.6MB 4.6MB/s
    100% |████████████████████████████████| 61kB 18.8MB/s
    100% |████████████████████████████████| 12.4MB 2.8MB/s
    100% |████████████████████████████████| 81kB 25.5MB/s
  Building wheel for bcolz (setup.py) ... done
  Building wheel for feather-format (setup.py) ... done
mizani 0.5.3 has requirement pandas>=0.23.4, but you'll have pandas 0.22.0 which is incompatible.
plotnine 0.5.1 has requirement pandas>=0.23.4, but you'll have pandas 0.22.0 which is incompatible.

In [0]:
!pip install -q pandas==0.23.4

In [16]:
import fastai
print(fastai.__version__)

1.0.49

In [0]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [0]:
PATH = "Data/BlueBookforBulldozers/Train"

In [8]:
!ls

Data  sample_data  Train.csv

In [0]:
import pandas as pd

df_raw = pd.read_csv('Train.csv', low_memory=False, parse_dates=['saledate'])

In [11]:
df_raw

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,2006-11-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,2004-03-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2004-02-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,2011-05-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,2009-07-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1139255,26500,1001274,4605,121,3.0,2004,508.0,Low,2008-12-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1139256,21000,772701,1937,121,3.0,1993,11540.0,High,2004-08-26,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
7,1139261,27000,902002,3539,121,3.0,2001,4883.0,High,2005-11-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1139272,21500,1036251,36003,121,3.0,2008,302.0,Low,2009-08-27,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
9,1139275,65000,1016474,3883,121,3.0,1000,20700.0,Medium,2007-08-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
10,1139278,24000,1024998,4605,121,3.0,2004,1414.0,Medium,2008-08-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1139282,22500,319906,5255,121,3.0,1998,2764.0,Low,2006-08-24,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN
12,1139283,36000,1052214,2232,121,3.0,1998,0.0,NaN,2005-10-20,...,None or Unspecified,"11' 0""",None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
13,1139284,30500,1068082,3542,121,3.0,2001,1921.0,Medium,2006-01-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1139290,28000,1058450,5162,121,3.0,2004,320.0,Low,2006-01-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1139291,19000,1004810,4604,121,3.0,1999,2450.0,Medium,2006-11-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1139292,13500,1026973,9510,121,3.0,1999,1972.0,Low,2007-06-14,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
17,1139299,9500,1002713,21442,121,3.0,2003,0.0,NaN,2010-01-28,...,16 inch,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
18,1139301,12500,125790,7040,121,3.0,2001,994.0,Low,2006-03-09,...,None or Unspecified,None or Unspecified,None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN
19,1139304,11500,1011914,3177,121,3.0,1991,8005.0,Medium,2005-11-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1139311,41000,1014135,8867,121,3.0,2000,3259.0,Medium,2006-05-18,...,32 inch,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
21,1139333,34500,999192,3350,121,3.0,1000,16328.0,Medium,2006-10-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1139344,26000,1044500,7040,121,3.0,2005,109.0,Low,2007-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
23,1139346,73000,821452,85,121,3.0,1996,17033.0,High,2006-10-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
24,1139348,33000,294562,3542,121,3.0,2001,1877.0,Medium,2004-05-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1139351,12500,833838,7009,121,3.0,2003,1028.0,Medium,2006-03-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1139354,15500,565440,7040,121,3.0,2003,356.0,Low,2006-03-09,...,None or Unspecified,None or Unspecified,None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN
27,1139356,53000,1004127,25458,121,3.0,2000,0.0,NaN,2007-02-22,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
28,1139357,46000,44800,19167,121,3.0,2004,904.0,Low,2007-08-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1139358,89000,1018076,1333,121,3.0,1998,10466.0,Medium,2006-06-01,...,None or Unspecified,"15' 9""",None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401095,6333259,10500,1872639,21437,149,1.0,2003,NaN,NaN,2011-12-14,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401096,6333260,10000,1816341,21437,149,2.0,2004,NaN,NaN,2011-09-15,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401097,6333261,8500,1843949,21437,149,1.0,2005,NaN,NaN,2011-10-28,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401098,6333262,10500,1791341,21437,149,2.0,2004,NaN,NaN,2011-08-16,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401099,6333263,11000,1833174,21437,149,1.0,2004,NaN,NaN,2011-12-14,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401100,6333264,10500,1791370,21437,149,2.0,2004,NaN,NaN,2011-08-16,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401101,6333270,10000,1799208,21437,149,1.0,2004,NaN,NaN,2011-12-14,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401102,6333272,10500,1927142,21437,149,2.0,2005,NaN,NaN,2011-08-16,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401103,6333273,12500,1789856,21437,149,2.0,2005,NaN,NaN,2011-09-15,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401104,6333275,10500,1924623,21437,149,2.0,2005,NaN,NaN,2011-08-16,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401105,6333276,10000,1835350,21437,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401106,6333278,10500,1944702,21437,149,2.0,2005,NaN,NaN,2011-08-16,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401107,6333279,12500,1866563,21437,149,2.0,2005,NaN,NaN,2011-09-15,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401108,6333280,10500,1851633,21437,149,2.0,2005,NaN,NaN,2011-08-16,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401109,6333281,10500,1798958,21437,149,2.0,2005,NaN,NaN,2011-08-16,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401110,6333282,10500,1878866,21437,149,2.0,2005,NaN,NaN,2011-09-15,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401111,6333283,10000,1874235,21437,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401112,6333284,10500,1887654,21437,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401113,6333285,10500,1817165,21437,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401114,6333287,12500,1918242,21437,149,2.0,2005,NaN,NaN,2011-11-15,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401115,6333290,10000,1843374,21437,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401116,6333302,8500,1825337,21437,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401117,6333307,10000,1821747,21437,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401118,6333311,9500,1828862,21437,149,2.0,2006,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401119,6333335,8500,1798293,21435,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,NaN,2011-11-02,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401121,6333337,11000,1830472,21439,149,1.0,2005,NaN,NaN,2011-11-02,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401122,6333338,11500,1887659,21439,149,1.0,2005,NaN,NaN,2011-11-02,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401123,6333341,9000,1903570,21435,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401124,6333342,7750,1926965,21435,149,2.0,2005,NaN,NaN,2011-10-25,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [0]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000):
        display(df)

In [13]:
display_all(df_raw.tail().T)

,401120,401121,401122,401123,401124
SalesID,6333336,6333337,6333338,6333341,6333342
SalePrice,10500,11000,11500,9000,7750
MachineID,1840702,1830472,1887659,1903570,1926965
ModelID,21439,21439,21439,21435,21435
datasource,149,149,149,149,149
auctioneerID,1,1,1,2,2
YearMade,2005,2005,2005,2005,2005
MachineHoursCurrentMeter,NaN,NaN,NaN,NaN,NaN
UsageBand,NaN,NaN,NaN,NaN,NaN
saledate,2011-11-02 00:00:00,2011-11-02 00:00:00,2011-11-02 00:00:00,2011-10-25 00:00:00,2011-10-25 00:00:00
fiModelDesc,35NX2,35NX2,35NX2,30NX,30NX
fiBaseModel,35,35,35,30,30
fiSecondaryDesc,NX,NX,NX,NX,NX
fiModelSeries,2,2,2,NaN,NaN
fiModelDescriptor,NaN,NaN,NaN,NaN,NaN
ProductSize,Mini,Mini,Mini,Mini,Mini
fiProductClassDesc,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...","Hydraulic Excavator, Track - 3.0 to 4.0 Metric...","Hydraulic Excavator, Track - 3.0 to 4.0 Metric...","Hydraulic Excavator, Track - 2.0 to 3.0 Metric...","Hydraulic Excavator, Track - 2.0 to 3.0 Metric..."
state,Maryland,Maryland,Maryland,Florida,Florida
ProductGroup,TEX,TEX,TEX,TEX,TEX
ProductGroupDesc,Track Excavators,Track Excavators,Track Excavators,Track Excavators,Track Excavators
Drive_System,NaN,NaN,NaN,NaN,NaN
Enclosure,EROPS,EROPS,EROPS,EROPS,EROPS
Forks,NaN,NaN,NaN,NaN,NaN
Pad_Type,NaN,NaN,NaN,NaN,NaN
Ride_Control,NaN,NaN,NaN,NaN,NaN
Stick,NaN,NaN,NaN,NaN,NaN
Transmission,NaN,NaN,NaN,NaN,NaN
Turbocharged,NaN,NaN,NaN,NaN,NaN
Blade_Extension,NaN,NaN,NaN,NaN,NaN
Blade_Width,NaN,NaN,NaN,NaN,NaN
Enclosure_Type,NaN,NaN,NaN,NaN,NaN
Engine_Horsepower,NaN,NaN,NaN,NaN,NaN
Hydraulics,Auxiliary,Standard,Auxiliary,Standard,Standard
Pushblock,NaN,NaN,NaN,NaN,NaN
Ripper,NaN,NaN,NaN,NaN,NaN
Scarifier,NaN,NaN,NaN,NaN,NaN
Tip_Control,NaN,NaN,NaN,NaN,NaN
Tire_Size,NaN,NaN,NaN,NaN,NaN
Coupler,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Coupler_System,NaN,NaN,NaN,NaN,NaN
Grouser_Tracks,NaN,NaN,NaN,NaN,NaN
Hydraulics_Flow,NaN,NaN,NaN,NaN,NaN
Track_Type,Steel,Steel,Steel,Steel,Steel
Undercarriage_Pad_Width,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Stick_Length,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Thumb,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Pattern_Changer,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified
Grouser_Type,Double,Double,Double,Double,Double
Backhoe_Mounting,NaN,NaN,NaN,NaN,NaN
Blade_Type,NaN,NaN,NaN,NaN,NaN
Travel_Controls,NaN,NaN,NaN,NaN,NaN
Differential_Type,NaN,NaN,NaN,NaN,NaN
Steering_Controls,NaN,NaN,NaN,NaN,NaN

In [14]:
display_all(df_raw.describe(include='all').T)

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
SalesID,401125,NaN,NaN,NaN,NaN,NaN,1.91971e+06,909021,1.13925e+06,1.41837e+06,1.63942e+06,2.24271e+06,6.33334e+06
SalePrice,401125,NaN,NaN,NaN,NaN,NaN,31099.7,23036.9,4750,14500,24000,40000,142000
MachineID,401125,NaN,NaN,NaN,NaN,NaN,1.2179e+06,440992,0,1.0887e+06,1.27949e+06,1.46807e+06,2.48633e+06
ModelID,401125,NaN,NaN,NaN,NaN,NaN,6889.7,6221.78,28,3259,4604,8724,37198
datasource,401125,NaN,NaN,NaN,NaN,NaN,134.666,8.96224,121,132,132,136,172
auctioneerID,380989,NaN,NaN,NaN,NaN,NaN,6.55604,16.9768,0,1,2,4,99
YearMade,401125,NaN,NaN,NaN,NaN,NaN,1899.16,291.797,1000,1985,1995,2000,2013
MachineHoursCurrentMeter,142765,NaN,NaN,NaN,NaN,NaN,3457.96,27590.3,0,0,0,3025,2.4833e+06
UsageBand,69639,3,Medium,33985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
saledate,401125,3919,2009-02-16 00:00:00,1932,1989-01-17 00:00:00,2011-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fiModelDesc,401125,4999,310G,5039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fiBaseModel,401125,1950,580,19798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fiSecondaryDesc,263934,175,C,43235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fiModelSeries,56908,122,II,13202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fiModelDescriptor,71919,139,L,15875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ProductSize,190350,6,Medium,62274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fiProductClassDesc,401125,74,Backhoe Loader - 14.0 to 15.0 Ft Standard Digg...,56166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,401125,53,Florida,63944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ProductGroup,401125,6,TEX,101167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ProductGroupDesc,401125,6,Track Excavators,101167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Drive_System,104361,4,Two Wheel Drive,46139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Enclosure,400800,6,OROPS,173932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Forks,192077,2,None or Unspecified,178300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pad_Type,79134,4,None or Unspecified,70614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ride_Control,148606,3,No,77685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stick,79134,2,Standard,48829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Transmission,183230,8,Standard,140328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Turbocharged,79134,2,None or Unspecified,75211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blade_Extension,25219,2,None or Unspecified,24692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blade_Width,25219,6,14',9615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Enclosure_Type,25219,3,None or Unspecified,21923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Engine_Horsepower,25219,2,No,23937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hydraulics,320570,12,2 Valve,141404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pushblock,25219,2,None or Unspecified,19463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ripper,104137,4,None or Unspecified,83452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Scarifier,25230,2,None or Unspecified,12719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tip_Control,25219,3,None or Unspecified,16207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tire_Size,94718,17,None or Unspecified,46339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coupler,213952,3,None or Unspecified,184582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coupler_System,43458,2,None or Unspecified,40430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Grouser_Tracks,43362,2,None or Unspecified,40515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hydraulics_Flow,43362,3,Standard,42784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Track_Type,99153,2,Steel,84880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Undercarriage_Pad_Width,99872,19,None or Unspecified,79651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stick_Length,99218,29,None or Unspecified,78820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thumb,99288,3,None or Unspecified,83093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pattern_Changer,99218,3,None or Unspecified,90255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Grouser_Type,99153,3,Double,84653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Backhoe_Mounting,78672,2,None or Unspecified,78652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blade_Type,79833,10,PAT,38612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Travel_Controls,79834,7,None or Unspecified,69923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Differential_Type,69411,4,Standard,68073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Steering_Controls,69369,5,Conventional,68679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Using RMSLE per Kaggle competition description.

In [0]:
df_raw.SalePrice = np.log(df_raw.SalePrice)

Initial Processing

In [17]:

m = RandomForestRegressor(n_jobs=-1)
# The following code is supposed to fail due to string values in the input data
# because the dataset contains a mix of continuous and categorical variables.
m.fit(df_raw.drop('SalePrice', axis=1), df_raw.SalePrice)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: ignored

The following method extracts particular date fields from a complete datetime for the purpose of constructing categoricals. **Always consider this feature extraction step when working with date-time**. Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities.

In [18]:
add_datepart(df_raw, 'saledate')
df_raw.saleYear.head()

0    2006
1    2004
2    2004
3    2011
4    2009
Name: saleYear, dtype: int64


The categorical variables are currently stored as strings, which is inefficient, and doesn't provide the numeric coding required for a random forest, thus, applying train_cats to convert strings to pandas categories with the old fastai library.

In [0]:
train_cats(df_raw)

In [20]:
df_raw.UsageBand.cat.categories

Index(['High', 'Low', 'Medium'], dtype='object')

Specify the order of the categories.

In [0]:

df_raw.UsageBand.cat.set_categories(['High', 'Medium', 'Low'], ordered=True, inplace=True)

Normally, pandas will continue displaying the text categories, while treating them as numerical data internally. Optionally, we can replace the text categories with numbers, which will make this variable non-categorical, like so:.

In [0]:

df_raw.UsageBand = df_raw.UsageBand.cat.codes

Show missing values remaining...

In [23]:

display_all(df_raw.isnull().sum().sort_index()/len(df_raw))

Backhoe_Mounting            0.803872
Blade_Extension             0.937129
Blade_Type                  0.800977
Blade_Width                 0.937129
Coupler                     0.466620
Coupler_System              0.891660
Differential_Type           0.826959
Drive_System                0.739829
Enclosure                   0.000810
Enclosure_Type              0.937129
Engine_Horsepower           0.937129
Forks                       0.521154
Grouser_Tracks              0.891899
Grouser_Type                0.752813
Hydraulics                  0.200823
Hydraulics_Flow             0.891899
MachineHoursCurrentMeter    0.644089
MachineID                   0.000000
ModelID                     0.000000
Pad_Type                    0.802720
Pattern_Changer             0.752651
ProductGroup                0.000000
ProductGroupDesc            0.000000
ProductSize                 0.525460
Pushblock                   0.937129
Ride_Control                0.629527
Ripper                      0.740388
SalePrice                   0.000000
SalesID                     0.000000
Scarifier                   0.937102
Steering_Controls           0.827064
Stick                       0.802720
Stick_Length                0.752651
Thumb                       0.752476
Tip_Control                 0.937129
Tire_Size                   0.763869
Track_Type                  0.752813
Transmission                0.543210
Travel_Controls             0.800975
Turbocharged                0.802720
Undercarriage_Pad_Width     0.751020
UsageBand                   0.000000
YearMade                    0.000000
auctioneerID                0.050199
datasource                  0.000000
fiBaseModel                 0.000000
fiModelDesc                 0.000000
fiModelDescriptor           0.820707
fiModelSeries               0.858129
fiProductClassDesc          0.000000
fiSecondaryDesc             0.342016
saleDay                     0.000000
saleDayofweek               0.000000
saleDayofyear               0.000000
saleElapsed                 0.000000
saleIs_month_end            0.000000
saleIs_month_start          0.000000
saleIs_quarter_end          0.000000
saleIs_quarter_start        0.000000
saleIs_year_end             0.000000
saleIs_year_start           0.000000
saleMonth                   0.000000
saleWeek                    0.000000
saleYear                    0.000000
state                       0.000000
dtype: float64

Saving to temp folder for quick access if needed.

In [0]:

os.makedirs('tmp', exist_ok=True)
df_raw.to_feather('tmp/bulldozers-raw')

Pre-processing steps.

In [0]:
import feather
df_raw = feather.read_dataframe('tmp/bulldozers-raw')

Replacing categories with numeric codes, handling missing continuous values, and splitting the dependent variable into a separate one.

In [0]:
df, y, nas = proc_df(df_raw, 'SalePrice')

Now it's clean enough to pass to a random forest.

In [29]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9830879124941703

Validation step to check against over or underfitting.

In [30]:

def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 12000  # same as Kaggle's test set size
n_trn = len(df)-n_valid
raw_train, raw_valid = split_vals(df_raw, n_trn)
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape

((389125, 66), (389125,), (12000, 66))